@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="@Url.Action("Index","Admin")">Admin Dashboard</a>
                <a class="dropdown-item" href="@Url.Action("Index","Manage")">My Account</a>
                <a class="dropdown-item" href="@Url.Action("Register", "Account")">Register</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </div>
        </li>
    }
}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="@Url.Action("Login", "Account")">Log In</a>
            <a class="dropdown-item" href="@Url.Action("Register", "Account")">Register</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="@Url.Action("Index","Home")">Home</a>
        </div>
    </li>
}
