@model AmigosAuction.Web.ViewModels.AuctionDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<br />
<br />
<br />
<br />

<h4>Details for Auction No : @Model.Auction.ID</h4>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <div class="card mt-4">

                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="@Model.Auction.AuctionPicture" />
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h3 class="card-title">@Model.Auction.Title</h3>
                    <h4>
                        $@Model.BidsAmount

                        @if (Model.LatestBidder != null)
                        {
                            <text>
                                [ @Model.LatestBidder.UserName ]
                            </text>
                        }
                    </h4>

                    <p class="card-text">@Model.Auction.Description</p>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Auction Starts</th>
                                <th scope="col">Auction Ends</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Auction.AuctionStartTime</td>
                                <td>@Model.Auction.AuctionEndTime</td>
                            </tr>
                        </tbody>
                    </table>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                    4.0 stars
                </div>
                <div class="card-footer text-muted">
                    <button class="btn btn-primary" type="button" id="Bidbtn">Bid Now</button>
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Auction Reviews
                </div>
                <div class="card-body">

                    @if (Model.Comments != null && Model.Comments.Count > 0)
                    {
                        foreach (var comment in Model.Comments)
                        {

                            var defaultStar = 5 - comment.Rating;

                            <p>@comment.Text</p>

                            <small class="text-muted">
                                <span class="text-warning float-right">

                                    @for (int i = 1; i <= defaultStar; i++)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                </span>

                                Posted by
                                @if (@comment.UserID != null)
                                {
                                    <span>@comment.UserID</span>
                                }
                                else
                                {
                                    <span>Anonymous</span>
                                }
                                on
                                @comment.TimeStamp
                            </small>
                            <hr>
                        }
                    }
                    else
                    {
                        <h5> @Model.Auction.Title contains no comment. Be the first one to comment!!</h5>
                        <hr>
                    }


                    <form id="commentForm">
                        <div class="form-group">
                            <input type="hidden" name="EntityID" value="@Model.EntityID">
                            <input type="hidden" name="RecordID" value="@Model.Auction.ID">
                            <label>Leave your opinion...</label>
                            <span class="text-warning float-right">
                                <i class="ratingStar far fa-star" data-value="1"></i>
                                <i class="ratingStar far fa-star" data-value="2"></i>
                                <i class="ratingStar far fa-star" data-value="3"></i>
                                <i class="ratingStar far fa-star" data-value="4"></i>
                                <i class="ratingStar far fa-star" data-value="5"></i>
                            </span>

                            <input type="hidden" name="Rating" id="ratingValue" />

                            <textarea placeholder="Please enter your comment here" class="form-control" name="Text" rows="3"></textarea>
                        </div>
                        <button type="button" id="commentBtn" class="btn btn-success">Leave a comment</button>
                    </form>

                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

<p>
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>


<script>

    $(".ratingStar").hover(function () {
        $(".ratingStar").addClass("far").removeClass("fas");

        $(this).addClass("fas").removeClass("far");
        $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
    });

    $(".ratingStar").click(function () {
        var starValue = $(this).attr("data-value");

        $("#ratingValue").val(starValue);
    });

    $('#Bidbtn').click(function () {
         $.ajax({
            url: "@Url.Action("Bid","Bids")",
            type: "post",
            data: {
                ID: '@Model.Auction.ID'
            }
         }).done(function (response) {
             if (response.Success) {
                 window.location.reload();
             }
             else{

             }
             }).fail(function () {
                 swal("Error!!", "Error Occured. Please try again later..." , "error");
         });
    });




    $('#commentBtn').click(function () {
        debugger;
         $.ajax({
            url: "@Url.Action("LeaveComment","Shared")",
             type: "post",
             data: $('#commentForm').serialize()
         }).done(function (response) {
             if (response.Success) {
                 window.location.reload();
             }
             else{

             }
             }).fail(function () {
                 swal("Error!!", "Error Occured. Please try again later..." , "error");
         });
    });
</script>


<script>
    $(function () {
        $('#activeAuction').addClass('active');
    });
</script>